.castom-checkbox--label {
  margin-bottom: 15px;
}

.checkbox-content__wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  text-align: left;
}

.castomCheckbox {
  top: 6px;
  position: relative;
  margin-left: 15px;
  padding: 3px;
  width: 54px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--color-block_bg);
  display: inline-block;
  box-shadow: inset 0px 0px 3px #0f0f0f;
}
.castomCheckbox::before {
  content: "";
  position: absolute;
  right: 22px;
  width: 14px;
  height: 14px;
  display: block;
  background-color: var(--color-orange);
  border-radius: 50%;
  transition: 0.3s;
}
.inputCheckbox:checked + .castomCheckbox::before {
  right: 4px;
}
.inputCheckbox {
  display: none;
}
.checkbox-img {
  margin-right: 10px;
  width: 35px;
  height: 35px;
}
