@import "../../colors.scss";

.navigation__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 200px;
  height: calc(100vh - 100px);
  background-color: var(--color-block_bg);
  padding: 20px 10px;
  padding-top: 30px;

  nav {
    li {
      margin-bottom: 20px;
      a,
      p {
        font-size: 18px;
        color: var(--color-light_gray);
      }
      a:hover {
        color: var(--color-orange);
      }
      p {
        text-decoration: line-through;
        color: var(--color-gray);
      }
    }
  }
  div {
    li {
      margin-bottom: 20px;
      img {
        width: 65px;
      }
      h6 {
        color: var(--color-purple);
        font-size: 14px;
      }
    }
    .library {
      cursor: not-allowed;
      a {
        cursor: inherit;
      }
    }
    .information {
      cursor: not-allowed;
      a {
        cursor: inherit;
      }
    }
    .settings:hover {
      img {
        animation: 10s linear rotation infinite;
      }
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
