.input-data__block {
  background-color: var(--color-block_bg);
  margin: 5px;
  padding: 15px;
  min-width: 350px;
  h4 {
    text-align: left;
    color: var(--color-gray);
    font-size: 18px;
    margin-bottom: 10px;
  }
  label {
    margin-right: 10px;
  }
  .input--submit {
    margin-top: 10px;
  }
  input,
  select {
    background-color: var(--color-block_bg);
    color: var(--color-orange);
    padding: 0 10px;
    border-bottom: solid var(--color-bg) 3px;
    max-width: 300px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.025em;
  }
}
