@import "../../../colors.scss";

.input-data__block {
  background-color: $color-block_bg;
  margin: 5px;
  padding: 15px;
  min-width: 350px;
  h4 {
    text-align: left;
    color: $color-gray;
    font-size: 18px;
    margin-bottom: 10px;
  }
  label {
    margin-right: 10px;
  }
  .input--submit {
    margin-top: 20px;
  }
  input,
  select {
    background-color: $color-block_bg;
    color: $color-orange;
    padding: 0 10px;
    border-bottom: solid $color-bg 3px;
  }
}
