@import "../.././../colors.scss";

span {
  color: $color-orange;
}
.responses--person {
  padding: 5px 10px;
}
.responses--table--wrapper {
  overflow-x: auto;
}
.responses--table {
  margin-bottom: 15px;
  border-collapse: collapse;
  td,
  th {
    padding: 5px; /* Поля вокруг содержимого таблицы */
    border: solid $color-bg 3px; /* Параметры рамки */
    font-size: 18px;
    span {
      border-bottom: solid $color-bg 3px;
      color: $color-orange;
      padding: 0 5px;
    }
  }
}
.calculation--result {
  margin-bottom: 10px;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    li {
      text-align: left;
      min-width: 190px;
      width: 23%;
      margin-left: 20px;
      margin-bottom: 10px;
      p {
        white-space: nowrap;
        font-size: 18px;
        span {
          border-bottom: solid $color-bg 3px;
          padding: 0 5px;
          color: $color-orange;
        }
      }
    }
  }
}

@media (max-height: 770px) {
  .calculation--result {
    ul {
      li {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .responses--table {
    margin-bottom: 16px;
    border-collapse: collapse;
    td,
    th {
      padding: 3px; /* Поля вокруг содержимого таблицы */
      border: solid $color-bg 2px; /* Параметры рамки */
      font-size: 16px;
      span {
        border-bottom: solid $color-bg 2px;
        color: $color-orange;
        padding: 0 3px;
      }
    }
  }
}
